* {
	margin: 0;
	padding: 0;

	font-family: 'Mukta', sans-serif;
}
a {
    text-decoration: none;
}
ul {
     list-style-type: none; 
}
 
span {
    position: absolute;
    pointer-events: none;
    background: #fff;
    animation: animate 5s linear infinite;
}
  
@keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(0deg);
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: scale(1) translateY(-500%) rotate(360deg);
      opacity: 0;
    }
}

.Container {
    overflow:hidden;
    position: relative;
    background: #091833;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
	background-color: #e78632;
	background-image:-webkit-linear-gradient(45deg,rgba(255,255,255,.3) 20%,transparent 20%,transparent 40%,rgba(255, 255, 255, 0.3) 40%,rgba(255,255,255,.3) 60%,transparent 60%,transparent 80%,rgba(255, 255, 255, 0.3) 80%);
}
::-webkit-scrollbar-track {
	background-color: rgba(156, 156, 156, 0.4);
    border-radius: 20px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Chatting-Space {
    display: none;
    padding: 2%;
    width: 70%;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: relative;
    z-index: 999;
}

.Messages-Space {
    width: 100%;
    height: 65vh;
    overflow: scroll;
}

.Main-Text {
    font-size: 150%;
    font-weight: bold;
}

.Message-Type {
	width: 95%;
    height: 5vw;
	border-radius: 20px;
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%, -90%);
	outline: 0;
	border: 0;
    background-color: rgb(231, 231, 231);
    color: #eb7134;
    padding-left: 1%;
    font-size: 20px;
    transition: 300ms;
}

.Message-Type:focus {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.Google-Button {
    background-color: #0c1d3d;
    color: rgb(230, 230, 230);
    width: 150%;
    height: 7.5vh;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 300ms;
}

.Google-Button:hover {
    background-color: rgb(230, 230, 230);
    color: #0c1d3d;
    box-shadow: 0 10px 5px rgba(224, 224, 224, 0.1);
}