span {
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    -webkit-text-stroke: 1.6px transparent;
    transition: 200ms ease-in-out;
}

.bg {
    position: fixed;
    width: 100vw;
    min-height: 100vh;
    object-fit: cover;
}

.Container {
    overflow-y: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 100px);
    background-color: rgba(0,0,0,.6);
}

.Container main {
    padding-left: 120px;
    width: 90vw;
}

.MainTitle {
    font-size: 3rem;
}

.Button {
    max-width: 80%;
    height: 50px;
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    cursor: pointer;
    border: 2px solid var(--white);
    transition: 200ms ease-in-out;
}

.Button:hover {
    background-color: var(--white);
    color: var(--black);
}

.Page {
    width: 100%;
    height: calc(100vh - 100px);
    color: var(--white);
}

@media (max-width: 1200px) {
    .Container main {
        padding-left: 50px;
    }
}


@media (max-width: 750px) {
    .Container main{
        padding-left: 50px;
    }
}

@media (max-width: 500px) {
    .Container main {
        padding-left: 35px;
    }
}