:root {
    --mainColor: rgb(206, 79, 223);
    --textColor: rgb(203, 0, 230);
    --colorMode: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240), rgb(235, 235, 235));
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--textColor);
}

#loading {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loader {
    width: 100px;
    height: 100px;
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
    border: 2px solid var(--mainColor);
    border-top-color: transparent;
    animation: spin 1000ms ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }

    100% {
        transform: rotate(1turn);
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Mulish', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--textColor);
}

.Container {
    width: 100vw;
}

.NavBarContainer {
    position: relative;
    width: 100%;
    height: 75px;
}

.NavBar {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.1);
}

.NavBar ul {
    display: flex;
    list-style-type: none;
}

.NavBar li {
    padding: 0 50px;
    font-weight: bold;
}

.ProjectsContainer {
    position: relative;
    min-height: calc(100vh - 75px);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Projects {
    min-height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Project {
    position: relative;
    width: 300px;
    height: 280px;
    border-radius: 20px;
    padding: 20px;
    margin: 25px;
    background-color: var(--mainColor);
    color: rgb(255, 255, 255);
    box-shadow: 0 10px 10px rgba(167, 4, 153, 0.3);
    transition: 200ms ease-in-out;
}

.Project:hover {
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,.3);
    color: var(--mainColor);
}

.Project img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    padding: 0 0 10px 0;
    cursor: pointer;
}

.Project p {
    position: absolute;
    top: 90%;
    transform: translateY(-90%);
}

.Menu {
    display: none;
    color: var(--mainColor);
    font-size: 2rem;
    cursor: pointer;
}

.RealMenu {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background-color: #fff;  
    align-items: center;
    justify-content: center;  
}

.RealMenu ul {
    padding-top: 30px;
}

.RealMenu a {
    width: 100vw;
    height: 100px; 
    display: flex;
    align-items: center;
    justify-content: center; 
    font-weight: bolder;
    font-size: 2rem; 
    cursor: pointer;
}

.RealMenu a:hover {
    background-color: rgb(231, 231, 231);
}

.RealMenu .CloseMenu {
    position: absolute;
    left: 95%;
    top: 0%;
    transform: translateX(-95%);
    font-weight: bolder;
    font-size: 3rem;
    color: var(--mainColor);
    cursor: pointer;
}

@media only screen and (max-width: 825px) {
    .NavBar {
        justify-content: left;
        padding: 0 0 0 30px;
    }
    .Menu {
        display: block;
    }
    .NavBar ul {
        display: none;
    }
}