:root {
    --black: black;
    --black2: rgb(32, 32, 32);
    --white: #f2f2f2;
    --blue: #2389da;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
}

h1, h2 {
    font-family: 'Kanit', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.Center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.CenterY {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.CenterX {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.Flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}